extends ./layout/index

block slider
    div(class="slider")
        h1 Rio de janeiro 
        em Aventura

block contenido
    main(class="container mt-5")
        h2(class="text-center mb-5") Sobre nosotros

        div(class="row mb-5")
            div(class="col-md-6")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dignissim lorem. Phasellus laoreet sem vulputate est sodales sodales. Pellentesque ac tellus sed diam blandit vulputate. Suspendisse ut neque ullamcorper, egestas eros eu, ultrices dolor. Pellentesque leo purus, venenatis ac auctor nec, blandit ut ante. Ut posuere nisi tellus, in semper dui auctor nec. Nunc faucibus orci quis arcu lobortis dictum. Fusce non iaculis ligula, et suscipit elit. Morbi dapibus odio id pulvinar semper.
                p Vestibulum vel vehicula diam, ut eleifend augue. Integer posuere, metus sed vulputate malesuada.
            div(class="col-md-6")
                img(class="img-fluid" src="/img/inicio_nosotros.jpg" alt="inicio")

        include  ./layout/bloque_viaje

    div(class="descuento")
        div(class="container")
            div(class="row")
                div(class="col-md-6")
                    div(class="contenido")
                        h3 25% de Descuento 
                        p(class="titulo") Viaje a Canada 
                        p(class="fecha") 21 de junio del 2022 - 28 de junio de 2022
                        p(class="precio") $2500

    div(class="container")
        h2(class="mt-5 text-center") Testimoniales

        include ./layout/bloque_testimoniales