div(class="row testimoniales")
    if(testimoniales)
        each testimonial in testimoniales   
            div(class="col-md-6 col-lg-4 mb-4")
                div(class="card")
                    div(class="card-body")
                        blockquote(class="blockquote") 
                        p(class="mb-0")
                            | #{testimonial.mensaje}
                        div(class="blockquote-footer")                                    
                            | #{testimonial.nombre}