footer(class="container py-5")
    div(class="row")
        div(class="col-md-6")
            nav(class="nav footer justify-content-center justify-content-md-start")
                a(class="nav-link" href="/nosotros") Nosotros
                a(class="nav-link" href="/viajes") Viajes
                a(class="nav-link" href="/testimoniales") Testimoniales 
        div(class="col")
            p(class="copyright text-center text-md-right")
                | Todo los rerechos reservados 
                span= ActualYear
